<table id="users" class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
  <thead>
  <tr role="row">
    <th rowspan="1" colspan="1">Tên</th>
    <th rowspan="1" colspan="1">Email</th>
    <th rowspan="1" colspan="1">Tên người dùng</th>
    <th rowspan="1" colspan="1">Ngày tham gia</th>
    <th rowspan="1" colspan="1"></th>
  </tr>
  </thead>
  <tbody role="alert" aria-live="polite" aria-relevant="all">
    <% @users.each do |user| %>
        <%= render :partial => "user_row", :locals => {:user => user, :course => course }%>
    <% end %>
  </tbody>
</table>
