<% provide(:title, "Sửa thông tin khóa học") %>

<%= render 'form' %>

<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">Xóa khóa học</h3>
  </div>
  <div class="box-body">
    <div class="form-group">
      Bạn có muốn xóa khóa học này ? Khóa học bị xóa sẽ không thể lấy lại
      <p><%= button_to "Xóa khóa học", @course, data: { confirm: "Bạn có chắc chắn không?" }, method: :delete, :class => "btn btn-primary" %></p>
    </div>
  </div>
</div>